@tailwind base;
@tailwind components;
@tailwind utilities;

.polaroid {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; /* Remove margin bottom */
  }